/* Importer la police Roboto depuis Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

/* Réinitialiser les styles par défaut pour tous les éléments */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Style pour l'ensemble de la page */
body {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background-color: tomato;
}

#title {
    margin-top: 1.75em;
}

#session {
    margin: 1em;
}

#cycle {
    margin-top: 0.5em;
    margin-bottom: 2em;
}

#timer{
    display: flex;
    align-items: center;
    padding: 3.5em;
}

#minutes, #secondes, #semicolon {
    font-size: 2em;
    font-weight: bold;
    color: #FFFFFF;
}
  
.circle {
    border: solid white 5px;
    border-radius: 50%;
    padding: 5em;
    margin-top: -10em;
    margin-bottom: 1em;
}

#minutes, #secondes {
    margin: 0 5px;
}

button {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #4875b5;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}
  
button:hover {
    background-color: rgb(71, 202, 160);
}

.choix {
    padding-top: 2em;
}

#confirm {
    margin: 1em;
} 

p.choix {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
  
input[type="number"] {
    width: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.choiceUser {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}
  
#showChoice {
    margin-top: -15.5em;
}

#type_session {
    border: solid black 4px;
    padding: 10px 2em 10px 2em;
    margin-left: 1em;
}

footer {
    border-top: solid white 3px;
    color: #FFFFFF; 
    text-align: center; 
    padding: .7em; 
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 1.25em;
    max-width: 25%; 
    margin: 0 auto; 
}

#mon_github {
    text-decoration: none;
    color: #DDD9D9;
    font-weight: bold;
}

#mon_github:hover {
    color: #4875b5;    
}

/* Application de l'animation de clignotement */
.blinking-text {
    animation: blink .5s infinite;
}

#progress-bar-container {
    width: 75%;
    background-color: #ccc;
    height: 20px;
    margin-top: 2em;
    border-radius: 10px;
}
  
#progress-bar {
    width: 0;
    height: 100%;
    background-color: #4caf50;
    transition: width 1s linear;
    position: relative;
    border-radius: 10px;
}
  
#progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px black;
    margin-left: 15px;
}

#progress-bar-title {
    margin-top: 13em;
}

/* Animation de clignotement */
@keyframes blink {
    0% {
        color: red;
    }
    50% {
        color: white;
    }
    100% {
        color: red;
    }
}

/* Style pour les écrans de petite taille (max-width: 700px) */
@media screen and (max-width: 700px) {
      /* Ajustement du style pour le titre */
      #title{
        margin-top: 15px;
        font-size: 1.2em;
      }
    
      /* Ajustement du style pour la session */
      #session{
        font-size: 1em;
        margin-top: 20px;
      }

      footer {
        display: none;
      }
}
