@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background-color: #A16730;
}

#title {
    margin-top: 1.75em;
}

#session {
    margin: 1em;
}

#cycle {
    margin-top: 0.5em;
    margin-bottom: 2em;
}

#timer{
    display: flex;
    align-items: center;
    padding: 3.5em;
}

#minutes, #secondes, #semicolon {
    font-size: 2em;
    font-weight: bold;
    color: #FFFFFF;
}
  
.circle {
    border: solid white 5px;
    border-radius: 50%;
    padding: 5em;
    margin-top: -10em;
    margin-bottom: 1em;
}

#minutes, #secondes {
    margin: 0 5px;
}
 
button {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #4875b5;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}
  
button:hover {
    background-color: rgb(71, 202, 160);
}

.choix {
    padding-top: 2em;
}

#confirm {
    margin-top: 2em;
}

/* RESPONSIVE */

@media screen and (max-width: 700px) {

      #title{
        margin-top: 0;
        font-size: 1.2em;
      }
    
      #session{
        font-size: 1em;
      }
  }

p.choix {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
  
input[type="number"] {
    width: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
  
.choiceUser {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}
  
#showChoice {
    margin-top: -14em;
}

#type_session {
    border: solid black 4px;
    padding: 10px 2em 10px 2em;
    margin-left: 1em;
}

footer {
    border-top: solid white 3px;
    color: #FFFFFF; 
    text-align: center; 
    padding: 1em; 
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 1.5em;
}

#mon_github {
    text-decoration: none;
    color: #DDD9D9;
    font-weight: bold;
}
